<div class="col-sm-10 text-justify" style="background-color: rgba(0,159,227,0.25); border-radius: 25px; color: white;">
	<h1>
		<i class="fa fa-lg fa-question"></i>
		<strong>QUE HACEMOS</strong>
	</h1>
		<p class="text-justify">
			La Dirección de Soporte Técnico Informático, a través de sus departamentos, brinda respuesta a los servicios cuya naturaleza se orienta a la mitigación de incidentes y solución de problemas, para ello brindamos servicios preventivos y reactivos, dentro del ámbito de la Secretaría General de Gobierno y Coordinación. Conocé nuestros servicios.
		</p>
		<p class="text-justify">
		*Para solicitar servicios dentro del ámbito de la Secretaría General de Gobierno y Coordinación no dude en  contactarnos al número de <strong>interno 8211</strong>.
		</p>
	<h3><strong>Soporte Técnico</strong></h3>
	<p class="text-justify">
		<i class="fa fa-caret-right"> </i>Asistencias técnicas:
	</p>
	<p class="text-justify">
		Con el fin de evitar las interrupciones en su trabajo por las fallas del equipamiento informático, disponemos de un grupo de Técnicos especializados que le proporcionarán la ayuda necesaria, o en caso de ser necesario, los guiarán en los procesos pertinentes.
	</p>

	<h3><strong>Programa de Optimización del Parque Informático</strong></h3>
	<p class="text-justify">
		<i class="fa fa-caret-right"> </i>Informes de análisis técnico de adquisición de tecnologías:
	</p>
	<p class="text-justify">
		Desde la Dirección de Soporte Técnico Informático queremos brindarle el asesoramiento técnico necesario para que pueda adquirir el equipamiento informático que más se ajuste a sus necesidades.
	</p>
	<p class="text-justify">
		<i class="fa fa-caret-right"> </i>Informes de mejora del parque informático:
	</p>
	<p class="text-justify">
		Con el objetivo de mejorar el parque informático realizamos relevamientos a las áreas que lo soliciten para poder confeccionar un informe técnico que describa las necesidades de incorporación o actualización de las herramientas tecnológicas, realizando el análisis de las necesidades en detalle.
	</p>
	<p class="text-justify">
		<i class="fa fa-caret-right"> </i>Planes de mantenimiento preventivo:
	</p>
	<p class="text-justify">
		Nuestros planes de mantenimiento preventivos permiten llevar a cabo reinstalaciones y configuraciones masivas en las oficinas de manera programada y consensuada con los responsables de las área, con el fin de prevenir problemas futuros.
	</p>
	 <h3><strong>Programa de Seguridad Activa</strong></h3>
	<p class="text-justify">
		A través de los consejos de ciberseguridad que tenemos disponibles en el sitio informativo y redes sociales, queremos que conozcan más sobre los riesgos que existen al navegar por internet y cuáles son las buenas prácticas para protegerse de las amenazas que circulan hoy en día por la red.
	</p>
	<h3><strong>Proyectos DSTI</strong></h3>
	<p class="text-justify">
		Además de las funciones operativas, de asesoramiento y de auditoría que tenemos disponibles en la Dirección de Soporte Técnico Informático, participamos activamente en la gestión de proyectos encuadrados en el marco de órgano rector de la Dirección General de Tecnologías de la Información, los cuales son de carácter transversal a las jurisdicciones y organismos de la Administración Pública Provincial del Poder Ejecutivo. 
	</p>
	 <h3><strong>Proyecto de Rediseño, Adecuación y Saneamiento de Redes de Datos del Edificio de Casa de Gobierno</strong></h3>
	<p class="text-justify">
		La red de datos física del edificio de Casa de Gobierno es la encargada de brindar la conectividad, el acceso servicios de red, internet, a todos los ministerios, secretarías y dependencias. Teniendo en cuenta este precepto, este proyecto se encuadra como mejora al “corazón” de las comunicaciones, rediseñando el “sistema circulatorio” del edificio, lo que permitirá aumentar la velocidad de las comunicaciones. 
	</p>
	<h3><strong>Modelo de Políticas de Seguridad de la Información de la Provincia del Chaco</strong></h3>
	<p class="text-justify">
		Este proyecto consiste en desarrollar un marco normativo para la implementación de seguridad de la información, en todos sus formatos, en los ministerios de la Administración Pública. Para más información, puede acceder a este <a ui-sref="politicas"> link </a>.
	</p>
</div>