<div class="col-sm-10 text-justify" style="background-color: rgba(0,159,227,0.25); border-radius: 25px; color: white;">
	<h1 align="center">
		
		<p >Proyecto</p>
		<p><strong>Modelo de Políticas de Seguridad de la Información</p>
		<p>Provincia del Chaco</strong></p>
	</h1>

	<h3><strong>¿Qué es Seguridad de la Información?</strong></h3>
		<p class="text-justify">La seguridad de la información es el conjunto de medidas preventivas y reactivas de las organizaciones y de los sistemas tecnológicos que permiten resguardar y proteger la información buscando mantener la confidencialidad, la disponibilidad e tegridad de datos y de la misma.</p>
		<p>Una de estas medidas preventivas son “Las Políticas de Seguridad de la Información” que tienen el objetivo de gestionar adecuadamente la seguridad de la información, los sistemas informáticos y el ambiente tecnológico del Organismo. Asimismo, debe ser conocida y cumplida por toda la planta de personal del organismo sea cual fuere su nivel jerárquico y su situación de revista.</p>

	<h3><strong>Fundamentos de las Políticas de Seguridad de la Información</strong></h3>
	<p class="text-justify">
		La Administración Pública Provincial no puede permanecer ajena a los avances y a la aplicación de las nuevas tecnologías de gestión, información y comunicación, ya que las mismas contribuyen al incremento de la productividad de los organismos y a optimizar el manejo de la información, reduciendo los costos asociados a su traslado y archivo.
	</p>
	<p>
		Con el fin de lograr la prestación de servicios más eficientes a los administrados y al mismo tiempo mejorar su gestión interna, mediante, la incorporación de modernas tecnologías informáticas.
	</p>
	<P>
		Dichos servicios deben ofrecerse con las máximas garantías de seguridad para satisfacer apropiadamente las demandas de la población y para evitar la comisión de ilícitos.
	</P>
	<p>
		En este marco, se torna necesario que cada organismo del Sector Público Provincial sea capaz de prevenir que sus sistemas de información se vean afectados, implementando a tal fin políticas de seguridad, procedimientos internos y sistemas de prevención
	</p>
	 
	<h3><strong>¿Por qué el Modelo de Políticas de Seguridad de la Información?</strong></h3>
	<p class="text-justify">
		Poseer un modelo de políticas de Seguridad de la Información provincial, facilita la redacción de políticas a los organismos, brindándole una postura provincial sobre los diversos temas que abarca el Modelo. 
	</p>
	
	<h3><strong>Beneficios de las Políticas de Seguridad de la Información</strong></h3>
	<p class="text-justify">
		•	Establecimiento de una metodología de gestión de la seguridad clara y estructurada.
	</p>
	<p class="text-justify"> 
	<i class="fa fa-caret-right"> </i> Reducción del riesgo de pérdida, robo o corrupción de información.</p>


	<h3><strong>Metodología de trabajo</strong></h3>
		<p class="text-justify">
			Con el fin de tener una colaboración continua de los referentes informáticos designados por las máximas autoridades de los organismos, se ha diseñado el trabajo de forma que pueda ser realizado a través de la plataforma de e-learning proporcionada por el Instituto Provincial de Administración Pública (IPAP), de manera de poder desarrollar cada capítulo como un Tema, abriendo foros de debates donde cada integrante puede realizar su aporte o corrección a los conceptos, para que los mismos se ajusten a las distintas realidades del Poder Ejecutivo.  
		</p>
		 
	 
	<h3><strong>Resumen de capítulos y fechas de desarrollo</strong></h3>
		<div class="embed-responsive embed-responsive-16by9" style="border-radius: 25px">
			<iframe src="https://www.youtube.com/embed/QRnGb8I5Sa4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
</div>