
<div class="col-sm-10 text-justify" style="background-color: rgba(0,159,227,0.25); 
border-radius: 25px; color: white">
	<h1>
		<i class="fa fa-file-text"></i>
		<strong>TIPS DE SEGURIDAD</strong>
	</h1>


	<div class="text-center">
		<a href="images/slide1.png" target="_blank" class="izquierda">
			<strong>
				<img src="images/slide1-p.png">
				<br><br>
				<i class="fa fa-download"></i> DESCARGA
			</strong>
		</a>
		<a href="images/slide2.png" target="_blank" class="derecha">
			<strong>
				<img src="images/slide2-p.png">
				<br><br>
				<i class="fa fa-download"></i> DESCARGA
			</strong>
		</a>
	</div>
	<div class="text-center">
	<a href="images/slide3.png" target="_blank" class="izquierda">
			<strong>
				<img src="images/slide3-p.png">
				<br><br>
				<i class="fa fa-download"></i> DESCARGA
			</strong>
		</a>
		<a href="images/slide4.png" target="_blank" class="derecha">
			<strong>
				<img src="images/slide4-p.png">
				<br><br>
				<i class="fa fa-download"></i> DESCARGA
			</strong>
		</a>
	</div>

	<p position="">
		<a href="#" class="botonMostrarMas" onclick="mostrar('divTexto1'); return false" ><i class="fa fa-plus"></i> 
		MOSTRAR
		</a>
	</p>
	<div id="divTexto1" style="visibility:hidden">
		<!--<div id="prueba" class="text-center" style="display: none;">-->
			<div>	
				<a href="images/slide5.png" target="_blank" class="izquierda">
					<strong>
						<img src="images/slide5-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
				<a href="images/slide6.png" target="_blank" class="derecha">
					<strong>
						<img src="images/slide6-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
			</div>

			<!--<p>
			<a href="#" class= "botonMostrarMas" onclick="mostrar('divTexto2'); return false" style="color:white;"><i class="fa fa-plus"></i> MOSTRAR </a>
			</p>

			<div id="divTexto2" style="visibility:hidden">-->
			<div>	
				<a href="images/slide7.png" target="_blank" class="izquierda">
					<strong>
						<img src="images/slide7-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
				<a href="images/slide8.png" target="_blank" class="derecha">
					<strong>
						<img src="images/slide8-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
			</div>
			

			<!--<p>
			<a href="#" class= "botonMostrarMas" onclick="mostrar('divTexto3'); return false" style="color:white;"><i class="fa fa-plus"></i> MOSTRAR </a>
			</p>
			<div id="divTexto3" style="visibility:hidden">-->
			<div class="text-center">
				<a href="images/slide9.png" target="_blank" class="izquierda">
					<strong>
						<img src="images/slide9-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
				<a href="images/slide10.png" target="_blank" class="derecha">
					<strong>
						<img src="images/slide10-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
			</div>
			

			<!--<p>
			<a href="#" class= "botonMostrarMas" onclick="mostrar('divTexto4'); return false" style="color:white;"><i class="fa fa-plus"></i> MOSTRAR </a>
			</p>
			<div id="divTexto4" style="visibility:hidden">-->
			<div class="text-center">
				<a href="images/slide11.png" target="_blank" class="izquierda">
					<strong>
						<img src="images/slide11-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
				<a href="images/slide12.png" target="_blank" class="derecha">
					<strong>
						<img src="images/slide12-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
			</div>


			<!--<p>
			<a href="#" class= "botonMostrarMas" onclick="mostrar('divTexto5'); return false" style="color:white;"><i class="fa fa-plus"></i> MOSTRAR </a>
			</p>
			<div id="divTexto5" style="visibility:hidden">-->
			<div class="text-center">
				<a href="images/slide13.png" target="_blank" class="izquierda">
					<strong>
						<img src="images/slide13-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
				<a href="images/slide14.png" target="_blank" class="derecha">
					<strong>
						<img src="images/slide14-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>	
				</a>
			</div>


			<!--<p>
			<a href="#" class= "botonMostrarMas" onclick="mostrar('divTexto6'); return false" style="color:white;"><i class="fa fa-plus"></i> MOSTRAR </a>
			</p>
			<div id="divTexto6" style="visibility:hidden">-->
			<div class="text-center">
				<a href="images/slide15.png" target="_blank" class="izquierda">
					<strong>
						<img src="images/slide15-p.png">
						<br><br>
						<i class="fa fa-download"></i> DESCARGA
					</strong>
				</a>
			</div>
		</div>
		</div>
		</div>
		</div>
		</div>
	</div>
</div>


