<h1>
	<i class="fa fa-lg fa-question fa-custom-flip"></i>
	<strong>PREGUNTAS FRECUENTES</strong>
</h1>

<h3><strong>¿Quiénes pueden participar?</strong></h3>
<p class="text-justify">
	<em><strong>Si sos Empleado Público:</strong></em> podes participar en la postulación, eligiendo a un/una compañera/o de tu misma jurisdicción. Lo podes hacer personalmente, por teléfono o vía web. (Ver reglamento).<br>
	<em><strong>Si sos Ciudadano:</strong></em> podes participar votando por vía web a aquellos agentes que han sido postulados por sus compañeros de cada jurisdicción.
</p>

<h3><strong>Ámbito de aplicación</strong></h3>
<p class="text-justify">
	Pueden participar todos los agentes y/o ciudadanos de la provincia del Chaco.
</p>
 
<h3><strong>¿Durante qué fechas puedo votar?</strong></h3>
<p class="text-justify">
	Podes votar del 24 de agosto al 9 de septiembre a través de los medios antes mencionados. 
</p>

<h3><strong>¿Qué debo tener en cuenta para postular a un Empleado?</strong></h3>
<p class="text-justify">
	Se debe tener en cuenta las siguientes características: Dedicación. Deseos de superación. Proactividad. Aprendizaje continuo. Compromiso y Responsabilidad. Respeto a sus personas y pares, Puntualidad, Colaboración y Cooperación, Ética laboral.	
</p>

<h3><strong>¿Por qué no puedo votar a un determinado Empleado?</strong></h3>
<p class="text-justify">
La única razón por la que no se podrá votar a un empleado es que el mismo no esté comprendido en la Ley Nº 2017 o que no cumpla con los requisitos del Premio. 
</p>
